#header_item{
    margin-left: 0%;
    padding-left: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#register{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 30px;
   
}

#login {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex; /* Ensure the link and icon are displayed as flex items */
    align-items: center; /* Center items vertically */
    padding-right: 15px;
  }
/* Container for Login and Register links */
#login_register_container {
    display: flex;
    gap: 1rem;
    margin-left: auto; /* Push this container to the right */
    padding-right: 60px;
  }
  
  #header_item a:hover {
    text-decoration: none;
    color: #269501;
    transition: color 0.3s ease-in-out;
    text-decoration: underline;
  }
    

  /* Styling for text turning green on hover */
  #login_register_container a:hover {
    color: #269501; /* Change this to the desired text color on hover (green) */
  }
  
  /* Additional styling for the username container */
  #username_container {
    gap: 2rem;
    cursor: pointer;
  }

  
  /* New styles for Registration button */
  .registration-button {
    background-color: white;
    color: #4e6e39;
    border: 2px solid #4e6e39;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px; /* Add rounded corners */
    
    
  }

  /* Responsive styles for small screens */
@media screen and (max-width: 768px) {
  #register {
    padding-right: 10px; /* Adjusted padding for smaller screens */
  }

  #login {
    padding-right: 10px; /* Adjusted padding for smaller screens */
  }
}
