.success-message {
    color: green;
    font-size: 16px;
    margin-top: 10px;
} 

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.popup-content {
  background-color: #f9f9f9;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
  
#form_title{
  margin-top: 15px;
  padding: 1%;
  border-radius: 1rem;
  background-color: rgb(4, 66, 37);
  color: white;
  
  text-align: center;

}

#sub_title{
  border-bottom-color: black;
  border-bottom: 2px solid grey;
  border-bottom-width: 5px;
  padding-top: 2%;
  
}

#form{
    margin-top: 15px;
    padding: 5%;
    border: 2cm;
    border-style: solid;
    border-width: 2px;
    border-radius: 1rem;
    position: relative;
}

#col {
    padding: 1%;
}

