/* .success-message {
    color: green;
    font-size: 16px;
    margin-top: 10px;
} */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
  
.popup-content {
    background-color: #f9f9f9;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    position: relative;
}
  
.close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  
#list_card {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: #112A00;
    color: white;
    
    
    /* color: 'white;  */
}

#card_text {
    padding: 1%;
}

#content{
    margin-top: 25px;
    padding: 5%;
    text-align: justify;
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
    position: relative;
}

#card_content {
    padding: 2%;
}