.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #2c5c37, #2b5a34, #2b5a36);
  
}

/* form border  */
@media screen and (min-width:600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid #2c5c37;
    border-radius: 10px;
    margin: 0.5rem;
}

}

input {
  width: 100%;
  padding: 10px !important;
  border: 2px solid #2b5a36;
  border-radius: 10px;
  margin: 5px;
}

.link-btn {
  background: none ;
  color: whitesmoke;
  text-decoration: underline;

}




button {
background-color: #2b5a34;
color: #fff;
border: none;
border-radius: 5px;
padding: 10px 20px;
margin: 10px 0;
cursor: pointer;
display: flex;
align-items: center;
}

button img.register {
width: 20px;
height: 20px;
margin-right: 10px;
}



label {
display: block;
margin: 10px 0px;

}

input::placeholder {
text-align: left; /* Adjust text alignment */
position: relative; /* Use relative positioning */
top: 0px; /* Adjust the vertical position */
left: 10px;
color: #2b5a36;
}

button[type="submit"] {
background-color: #2b5a34;
color: #fff;
padding: 8px 150px;
margin: 10px 0px;



}

.link-btn {
background-color: #fff;
color: #2b5a34;
border: none;
padding: 10px 20px;
border-radius: 5px;
text-decoration: none;
display: inline-block;
cursor: pointer;
margin-top: 10px;
}


.bg-white {
  background-color: rgba(7, 6, 6, 0.6);
}
.max-w-3xl {
    max-width: 48rem; /* Set the maximum width to 48rem (adjust as needed) */
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  
  .mt-8 {
    margin-top: 2rem;
  }
  
  .flex {
    display: flex;
  }
  
  
  
  .p-8 {
    padding: 2rem;
  }
  
  .rounded-lg {
    border-radius: 0.5rem; /* Adjust border-radius as needed */
  }
  
  .shadow-lg {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  .w-1-3 {
    width: 33.3333%;
  }
  
  .w-2-3 {
    width: 66.6667%;
  }
  
  .pr-8 {
    padding-right: 2rem;
  }
  
  .w-40 {
    width: 10rem; /* Set the width of the profile image (adjust as needed) */
  }
  
  .h-40 {
    height: 10rem; /* Set the height of the profile image (adjust as needed) */
  }
  
  .object-cover {
    object-fit: cover;
  }
  
  .text-3xl {
    font-size: 1.875rem; /* Adjust font-size as needed */
  }
  
  .font-semibold {
    font-weight: 600;
  }
  
  .ml-2 {
    margin-left: 0.5rem;
  }
  
  .text-gray-500 {
    color: #718096;
  }
  
  .text-gray-600 {
    color: #4a5568;
  }
  
  .mt-4 {
    margin-top: 1rem;
  }
  
  .text-gray-700 {
    color: #4a5568;
  }
  
