.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #2c5c37, #2b5a34, #2b5a36);
  
}


/* login-interface */
.main-container{
  display: flex;
 
}

.auth-form-container{
  border-radius: 0px !important;
}

.auth-form-container,  .login-side-list{
  flex: 0.5; /* Distributes the available space equally */
  padding: 10px;
  border: 1px solid #000;
  background-color: #2b5a36;

}

.side-log-message{
  color: #00ff00;
  font-size: 50px;
  font-family: "'Courier New', Courier, monospace'";
}

.line-breaks{
  margin: 0 150px;
  color: #00ff00;
  font-size: 50px;
  font-family: "'Courier New', Courier, monospace'";
  margin: 0 20px;
  padding: 0 50px;
}

.most-out-block{
  margin: 20px;
}

.login-button{
  padding-left:  100px !important;
}

/* login interface stops here */

/* Registration Interface */
.main-container-register{
  display: flex; 
}

.line-breaks-register{
  border-radius: 0px !important;
}

.line-breaks-register{
  margin: 0 150px;
  color: #00ff00;
  font-size: 50px;
  font-family: "'Courier New', Courier, monospace'";
  margin: 0 20px;
  padding:  50px;
  
}

h3{
  font-size: 20px !important;
  padding: 10px 0 !important;
}

.tick-image-register{
  height: 100px;
  width: 100px;

}
/* Register.jsx ends here */



/* form border  */
@media screen and (min-width:600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid #2c5c37;
    border-radius: 10px;
    margin: 0.5rem;
}

}

input {
  width: 100%;
  padding: 10px !important;
  border: 2px solid #2b5a36;
  border-radius: 10px;
  margin: 5px;
}

.link-btn {
  background: none ;
  color: whitesmoke;
  text-decoration: underline;

}


h2 span {
display: inline-block;
vertical-align: middle; /* Adjust as needed for vertical alignment */
margin-left: 10px; /* Add margin for spacing between text and image */
}

.login-logo {
width: 50px;
height: 50px;
margin: 0 225px;
/* Additional styling for the image */
}



.auth-form-Container.register {
max-width: 400px;
margin: 0 auto;
padding: 20px;
border: 1px solid #ccc;
border-radius: 5px;
background-color: #fff;
text-align: center;
}

h2 {
font-size: 24px;
margin: 0;
color: #2b5a34 !important;
font-weight: bolder !important;
font-family: Arial, Helvetica, sans-serif;
}

button {
background-color: #2b5a34;
color: #fff;
border: none;
border-radius: 5px;
padding: 10px 20px;
margin: 10px 0;
cursor: pointer;
display: flex;
align-items: center;
}

button img.register {
width: 20px;
height: 20px;
margin-right: 10px;
}

.register-form {
text-align: left;
margin: 20px 0;
}

label {
display: block;
margin: 10px 0px;

}

input::placeholder {
text-align: left; /* Adjust text alignment */
position: relative; /* Use relative positioning */
top: 0px; /* Adjust the vertical position */
left: 10px;
color: #2b5a36;
}

button[type="submit"] {
background-color: #2b5a34;
color: #fff;
padding: 8px 150px;
margin: 10px 0px;



}

.link-btn {
background-color: #fff;
color: #2b5a34;
border: none;
padding: 10px 20px;
border-radius: 5px;
text-decoration: none;
display: inline-block;
cursor: pointer;
margin-top: 10px;
}


/* .......Specifically_LOGIN......... */
/* Login Component Css */

.auth-form-container.login {
/* max-width: 400px; */
margin: 0 auto;
/* padding: 20px; */
background: #fff;
border: 1px solid #2b5a36;
border-radius: 5px;
text-align: center;
}

h2 {
font-size: 24px;
margin-bottom: 10px;
}

h1 {
font-size: 18px;
margin: 20px 0;
}

button {
border: none;
background: transparent;
cursor: pointer;
}

button img.login {
width: 100px;
height: 50px;
margin-left: 130px;

}

form.login-form {
text-align: left;
margin: 10px 0;
}



/* all underlined links */
.underlog-links{
text-decoration: underline;
padding: 0 100px;
}

.undereg-links{
text-decoration: underline;
padding: 0 10px;
}

/* anchor tag for both login and registration */
a{
margin-left: 30px; 
}

/* Login logo bottom */
.llogin{
margin: 65px 120px;
width: 100px;
height: 100px;
}